<h1>Rock-Paper-Scissors</h1>

<p>We played <%= @player_choice.capitalize %>!</p>
<p>They played <%= @computer_choice.capitalize %>!</p>
<p><strong><%= @result %></strong></p>

<ul>
  <li><a href="/">Rules</a></li>
  <li><a href="/rock">Play Rock</a></li>
  <li><a href="/paper">Play Paper</a></li>
  <li><a href="/scissors">Play Scissors</a></li>
</ul>
